img{
    width: 100%;
    box-shadow:none;
}
div{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-stretch: ultra-expanded;
    text-shadow:none;
    box-shadow:none;
}
h2{
    text-shadow:none;
}
p {
    text-transform:none;
    font-size: 20px;
}
video{
    width: 100%;

}
audio{
    width: 100%;
}
textarea {
   resize:vertical; 
   max-height:200px; 
   min-height:200px;
}
                